* {
    margin: 0 0 auto;
}

.topo {
    display: flex;
    background-color: aquamarine;
    justify-content: space-around;
}

.topo #logo-home {
    position: relative;

}

.topo .menu-topo {
    position: relative;
    top: 5vh;
}

.topo .menu-topo a {
    margin-left: 1rem;
    text-decoration: none;
}